@font-face {
  font-family: "Norse-Bold.otf";
  src: url(fonts/Norse-Bold.otf);
}

:root {
  --main-bg: #d8d8d8;
  --sign-up-font-family: "montserrat", "roboto", Arial, Helvetica, sans-serif;
  --logo-font-family: "Norse-Bold.otf";
  --sign-up-text-clr: #5b5858;
  --primary-clr: rgb(70, 205, 217);
  --page-hieght: 100vh;
  --border: 1px solid #5b5858;
  --invalid-border: 1px solid red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page-container {
  display: flex;
  max-width: 70em;
  min-width: 650px;
  height: var(--page-hieght);
  margin: 0 auto;
}

#side-bar {
  min-width: 250px;
  width: 35%;
  height: 100%;
  background-image: url("img/shaain-ibrahim-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

#logo {
  font-family: var(--logo-font-family);
  font-size: 3rem;
  margin-top: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#logo img {
  width: 100px;
}

.photo-credit {
  position: absolute;
  bottom: 0;
  left: 25%;
  padding: 0.3rem;
  font-size: 0.6rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

#main {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-bg);
  color: var(--sign-up-text-clr);
  gap: 4em;
  border-right: 1px solid var(--main-bg);
}

.form-text {
  display: flex;
  font-family: var(--sign-up-font-family);
  font-size: 1.2rem;
  line-height: 1.5;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  padding: 0 5em 0 2em;
  gap: 1em;
  margin-bottom: 3em;
}

#form-container {
  background-color: #fff;
  width: 100%;
}

h3 {
  padding: 2em 0 0 2em;
}

label {
  margin-bottom: 0.5em;
}

input {
  display: block;
  font-size: 100%;
  width: 280px;
  height: 35px;
  margin-top: 5px;
  padding: 10px;
  border: var(--border);
  font-family: var(--sign-up-font-family);
  color: var(--sign-up-text-clr);
}

input:focus {
  outline: none;
}

input:focus:invalid {
  border: var(--invalid-border);
  color: red;
}

#signu-up-information {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  gap: 1em;
}

#singup-or-login {
  background-color: var(--main-bg);
  padding: 2em;
}

.form-text {
  margin-top: 20%;
}

.submit {
  margin-bottom: 15px;
}

.submit-btn {
  background-color: var(--primary-clr);
  color: white;
  width: 16em;
  height: 35px;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
}

.login a {
  color: var(--primary-clr);
}
